.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.customer-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  min-width: 120px;
}
.custom-snackbar {
  background-color: white;
  color: green;
}
