<div class="container">

  <h2>Add Customer</h2>
  <form class="customer-form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="firstName" name="firstName" required minlength="2" maxlength="50">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName" name="lastName" required minlength="2" maxlength="50">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" type="email" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input matInput [(ngModel)]="mobileNumber" name="mobileNumber" type="tel" required pattern="/^04\d{8}$/">

      </mat-form-field>
    </div>
    <div class="form-group">

      <mat-form-field appearance="fill">
        <app-address-input name="address" [(ngModel)]="address"></app-address-input>


      </mat-form-field>

      
    </div>

    <div class="button-container">
      <button mat-raised-button color="accent" type="submit">Add Customer</button>
      <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
