.customer-table {
  border: 2px solid #3CB371;
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.table-header, .table-row {
  display: flex; /* Change to flex */
}

.table-cell {
  flex: 1; /* Use flex-grow to distribute space equally */
  padding: 10px;
  text-align: center;
}

.table-header {
  background-color: #3CB371;
  color: white;
  font-weight: bold;
}

.table-body {
  background-color: #f2f2f2;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.green-button {
  background-color: #3CB371;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .green-button:hover {
    background-color: #5fd25f;
  }

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
